{% extends "base.html.twig" %}

{% block content %}
    <header class="masthead-small">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h3 class="font-weight-heavy main-text">Blog.</h3>
                </div>
            </div>
        </div>
    </header>

    <section class="py-5">
        <div class="container">


                    <div class="dropdown show mb-2 text-right">
                        <a class="btn btn portfolio_button dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Order By
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Price (ASC)</a>
                            <a class="dropdown-item" href="#">Price (DESC)</a>
                        </div>
                    </div>


            <div class="col-md-12">
                <h2 class="blog-title">Today I Learned...</h2>
                <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive o
                    'You did,' said the Mock Turtle. <a href="#">Read more...</a></p>
                <div>
                    <span class="badge date-label">2 weeks ago</span>
                    <div class="pull-right">
                        <span class="badge heart-label ml-2 mr-2">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="#EDF5E1" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                </svg>
                        </span>
                    </div>
                    <div class="pull-right">
                        <span class="badge category-label">
                            Category
                        </span>
                    </div>
                </div>
                <hr>
                <h2 class="blog-title">Today I Learned...</h2>
                <p>'I am bound to Tahiti for more men.'
                    'Very good. Let me board you a moment—I come in peace.' With that he leaped from the canoe, swam to the boat; and climbing the gunwale, stood face to face with the captain.
                    'Cross your arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt leaves me, I swear to <a href="#">Read more...</a></p>
                <div>
                    <span class="badge date-label">1 months ago</span>
                    <div class="pull-right">
                        <span class="badge heart-label ml-2 mr-2">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="#EDF5E1" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                </svg>
                        </span>
                    </div>
                    <div class="pull-right">
                        <span class="badge category-label">
                            Category
                        </span>
                    </div>
                </div>
                <hr>
                <hr>
                <h2 class="blog-title">Today I Learned...</h2>
                <p>'I am bound to Tahiti for more men.'
                    'Very good. Let me board you a moment—I come in peace.' With that he leaped from the canoe, swam to the boat; and climbing the gunwale, stood face to face with the captain.
                    'Cross your arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt leaves me, I swear to <a href="#">Read more...</a></p>
                <div>
                    <span class="badge date-label">2 months ago</span>
                    <div class="pull-right">
                        <span class="badge heart-label ml-2 mr-2">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="#EDF5E1" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                </svg>
                        </span>
                    </div>
                    <div class="pull-right">
                        <span class="badge category-label">
                            Category
                        </span>
                    </div>
                </div>
                <hr>
                <hr>
                <h2 class="blog-title">Revolution has begun!</h2>
                <p>'I am bound to Tahiti for more men.'
                    'Very good. Let me board you a moment—I come in peace.' With that he leaped from the canoe, swam to the boat; and climbing the gunwale, stood face to face with the captain.
                    'Cross your arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt leaves me, I swear to <a href="#">Read more...</a></p>
                <div>
                    <span class="badge date-label">2 months ago</span>
                    <div class="pull-right">
                        <span class="badge heart-label ml-2 mr-2">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="#EDF5E1" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                </svg>
                        </span>
                    </div>
                    <div class="pull-right">
                        <span class="badge category-label">
                            Category
                        </span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>
{% endblock %}
