{% extends "base.html.twig" %}

{% block content %}
    <header class="masthead-small">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
{#                    <h1 class="font-weight-heavy main-text">Today I learned.</h1>#}
                    <h2 class="main-text pb-3 pt-3">Today I learned.</h2>
                    <h6 class="main-text"><b>Brad Waterhouse</b> | PHP | Jan 2021</h6>
                </div>
            </div>
        </div>
    </header>

    <section class="mt-4">
        <div class="container mb-5" id="container">
            <span class="badge date-label">2 weeks ago</span>
            <div class="pull-right">
                        <span class="badge heart-label ml-2 mr-2">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="#EDF5E1" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                </svg>
                        </span>
            </div>
            <div class="pull-right">
                        <span class="badge category-label">
                            Category
                        </span>
            </div>
            <hr class="my-5">

            <p class="subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et
                dolore magna aliqua. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum. Euismod nisi porta lorem
                mollis aliquam. At risus viverra adipiscing at in tellus integer feugiat. Consectetur adipiscing elit ut
                aliquam purus. Iaculis nunc sed augue lacus viverra vitae congue eu consequat. Nec feugiat in fermentum
                posuere urna nec tincidunt praesent semper. In metus vulputate eu scelerisque felis imperdiet proin.
                Vulputate odio ut enim blandit volutpat maecenas. Mattis molestie a iaculis at erat pellentesque
                adipiscing. Et netus et malesuada fames ac turpis egestas sed.</p>

            <p>
                Quisque sagittis purus sit amet volutpat consequat. Elit pellentesque habitant morbi tristique senectus
                et netus et malesuada. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. Vel
                eros donec ac odio tempor orci dapibus ultrices in. In pellentesque massa placerat duis ultricies.
                Pharetra et ultrices neque ornare. Porttitor eget dolor morbi non. Ultrices mi tempus imperdiet nulla
                malesuada pellentesque elit eget gravida. Varius quam quisque id diam vel quam elementum pulvinar.
                Vestibulum morbi blandit cursus risus. Est ultricies integer quis auctor elit sed vulputate mi. Faucibus
                pulvinar elementum integer enim neque volutpat ac tincidunt. Odio pellentesque diam volutpat commodo sed
                egestas egestas fringilla.</p>

            <pre><code class="language-xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd" backupGlobals="false" colors="true"
         bootstrap="config/bootstrap.php"&gt;
    &lt;/filter&gt;

    &lt;listeners&gt;
        &lt;listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/&gt;
    &lt;/listeners&gt;
&lt;/phpunit&gt;
</code></pre>

            <p>Neque vitae tempus quam pellentesque nec nam aliquam sem. Ultricies lacus sed turpis tincidunt id
                aliquet risus feugiat. Turpis massa tincidunt dui ut ornare lectus sit. Aenean vel elit scelerisque
                mauris pellentesque pulvinar pellentesque habitant. Etiam sit amet nisl purus in mollis nunc. Tortor
                pretium viverra suspendisse potenti nullam. Ultrices eros in cursus turpis massa tincidunt dui ut
                ornare. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Enim praesent elementum
                facilisis leo vel. Mauris augue neque gravida in. Lacus suspendisse faucibus interdum posuere lorem
                ipsum. Tristique magna sit amet purus gravida quis blandit. Elementum nibh tellus molestie nunc non
                blandit. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Aliquam malesuada bibendum arcu
                vitae elementum curabitur vitae nunc. </p>

            <p> Varius sit amet mattis vulputate. Proin sagittis nisl rhoncus mattis rhoncus urna neque. Eu tincidunt
                tortor aliquam nulla. Purus in massa tempor nec feugiat nisl pretium fusce id. Urna et pharetra pharetra
                massa massa ultricies mi. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum. Mauris
                a diam maecenas sed enim ut sem viverra. Integer eget aliquet nibh praesent tristique magna sit amet.
                Quis blandit turpis cursus in. Porta lorem mollis aliquam ut porttitor leo a diam. Id consectetur purus
                ut faucibus pulvinar elementum integer enim. Facilisis leo vel fringilla est ullamcorper eget nulla
                facilisi etiam. Vestibulum sed arcu non odio euismod lacinia. Condimentum vitae sapien pellentesque
                habitant morbi tristique senectus et. Quis eleifend quam adipiscing vitae.</p>


            <pre><code class="language-xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd" backupGlobals="false" colors="true"
         bootstrap="config/bootstrap.php"&gt;
    &lt;/filter&gt;

    &lt;listeners&gt;
        &lt;listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/&gt;
    &lt;/listeners&gt;
&lt;/phpunit&gt;
</code></pre>

            <p>Lacus sed turpis tincidunt id aliquet risus feugiat. Et malesuada fames ac turpis egestas sed tempus
                urna et. Leo a diam sollicitudin tempor id eu nisl nunc. Tellus molestie nunc non blandit massa enim nec
                dui nunc. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam. Vitae semper
                quis lectus nulla at volutpat diam. Nulla posuere sollicitudin aliquam ultrices sagittis orci a. Ac
                tortor vitae purus faucibus ornare. Nunc faucibus a pellentesque sit amet porttitor. Vitae et leo duis
                ut diam. Integer enim neque volutpat ac tincidunt vitae. Fermentum iaculis eu non diam. Consectetur
                purus ut faucibus pulvinar elementum integer enim. Fringilla ut morbi tincidunt augue. Tortor vitae
                purus faucibus ornare suspendisse sed nisi lacus sed. Ut enim blandit volutpat maecenas. Sed vulputate
                mi sit amet. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Sed felis
                eget velit aliquet sagittis.</p>

        </div>
    </section>
{% endblock %}
