{% extends "base.html.twig" %}

{% block content %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-heavy main-text">Brad Waterhouse</h1>
                    <p class="lead main-text">Software Developer</p>
                            <img height="38px" width="38px" class="m-2 social-icon" src="https://i.imgur.com/FvuVwVH.png">
                            <img height="37px" width="37px" class="m-2 social-icon" src="https://i.imgur.com/eMi7tq1.png">
                            <img height="37px" width="37px" class="m-2 social-icon" src="https://i.imgur.com/A3e8l5X.png">

                </div>
            </div>
        </div>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img class="circle-image" src="https://mjsolpac.com/wp-content/uploads/2017/03/person-placeholder.jpg">
                </div>
                <div class="col mb-9">
                    <h2 class="font-weight-light pb-3">About Me</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
