@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    background-color: #eeeeee !important;
}

.nav-bar {
    background-color: #5CDB95;
}

.nav-link {
    color: #05386B;
    font-family: Avenir;
    font-weight: bold;
}

.hamburger-menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.footer {
    bottom:-0;
    width: 100%;
    background-color: #e1e1e1;
}

.masthead {
    height:35vh;
    min-height: 400px;
    /*background-color: #5CDB95;*/
    background-color: #5CDB95;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead-small {
    height: 27vh;
    min-height: 125px;
    /*background-color: #379683;*/
    background-color: #5CDB95;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-text {
    color: #000000;
    font-family: Avenir;
    letter-spacing: 1px;
}

.main-text {
    color: #edf5e1;
    font-family: Avenir;
    letter-spacing: 3px;
}

.circle-heading {
    margin-bottom: 50px;
}

.blog-title {
    color: #05386B;
    font-family: Avenir;
    letter-spacing: 1px;
}

.date-label {
    background-color: #5CDB95;
    border-radius: 5px;
}

.heart-label {
    background-color: #db5147;
    border-radius: 5px;
}

.category-label {
    background-color: #dbba59;
    border-radius: 5px;
}

.circle-image {
    border-radius: 50%;
}

.portfolio_bg {
    background-color: #EDF5E1;
}

.github-button {
    background-color: #4a4a4a;
    color: #EDF5E1;
}

.site-button {
    background-color: #274386;
    color: #EDF5E1;
}

.rounded-corners-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.rounded-corners-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.language-label {
    background-color: #ffe500;
    border-radius: 5px;
}

.footer {
    background-color: #05386B;
}

.footer-text {
    color: #EDF5E1;
}

.subhead::first-letter {
    font-size: 250%;
}


body {
    background-repeat-y: no-repeat;
    overflow-x: hidden
}

.footer-title {
    color: #ffffff;
    font-family: Avenir;
    letter-spacing: 1px;
}

.footer-card {
    background-color: #05386B;
    color: #fff
}

.footer-button {
    color: #fff
}

.footer-button:hover {
    color: #fff
}

.box {
    margin-bottom: 60px;
    margin-top: 20px
}

.form-control {
    border: none;
    margin-left: 0;
    background-color: #05386B;
    color: #fff
}

input {
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important
}

::-webkit-input-placeholder {
    color: #E1F5FE !important
}

::-moz-placeholder {
    color: #E1F5FE !important
}

:-ms-input-placeholder {
    color: #E1F5FE !important
}

:-moz-placeholder {
    color: #E1F5FE !important
}

.form-head {
    padding-left: 10px;
    padding-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px
}

.custom-control-label {
    font-size: 14px !important
}

.get-input {
    padding-left: 0
}

button {
    color: #05386B !important;
    font-weight: bold !important;
    padding: 10px 20px 10px 20px !important;
    border-radius: 0 !important
}

button:hover {
    color: #1565C0 !important;
    background-color: #fff
}

