@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    background-color: #eeeeee !important;
}

.nav-bar {
    background-color: #5CDB95;
}

.nav-link {
    color: #05386B;
    font-family: Avenir;
    font-weight: bold;
}

.hamburger-menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.footer {
    bottom:-0;
    width: 100%;
    background-color: #e1e1e1;
}

.masthead {
    height:35vh;
    min-height: 400px;
    /*background-color: #5CDB95;*/
    background-color: #5CDB95;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead-small {
    height: 20vh;
    min-height: 125px;
    /*background-color: #379683;*/
    background-color: #5CDB95;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    width: 114px;
    margin: 0;
}

.header-text {
    color: #000000;
    font-family: Avenir;
    letter-spacing: 1px;
}

.main-text {
    color: #edf5e1;
    font-family: Avenir;
    letter-spacing: 3px;
}

.circle-heading {
    margin-bottom: 50px;
}

.blog-title {
    color: #05386B;
    font-family: Avenir;
    letter-spacing: 1px;
}

.date-label {
    background-color: #5CDB95;
    border-radius: 5px;
}

.heart-label {
    background-color: #db5147;
    border-radius: 5px;
}

.category-label {
    background-color: #dbba59;
    border-radius: 5px;
}

.circle-image {
    border-radius: 50%;
}

.portfolio_bg {
    background-color: #EDF5E1;
}

.portfolio_button {
    background-color: #5CDB95;
    color: #EDF5E1;
}

.rounded-corners-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.rounded-corners-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.language-label {
    background-color: #ffe500;
    border-radius: 5px;
}

.footer {
    background-color: #05386B;
}

.footer-text {
    color: #EDF5E1;
}
